@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(245, 245, 245);
}

.default-style {
    max-width: 1280px;
    margin: 20px auto 70px;
    align-items: center;
}

.fira-sans-small-bold {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.fira-sans-bold {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.fira-sans-extra-bold {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
}

.fira-sans-normal {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.fira-sans-light {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;

    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: rgb(0, 106, 80);
    color: white;
}

.light-green-bg {
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.banner {
    margin-top: 44px;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.banner-text p {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.btn-green {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-green:hover {
    background: rgb(0, 128, 96);
    transform: scale(1.05);
}

.pillars-container {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.pillars-container div {
    width: 302px;
    height: 254px;
}

.white-box {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
}

.white-box:hover {
    background: rgb(240, 240, 240);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.flex-row {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.vision-of-future {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.vision-of-future-container {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.color-box {
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.color-btn {
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    transition: all 0.3s ease;
}

.blue-box {
    background: rgba(84, 144, 245, 0.2);
}

.blue-box:hover {
    background: rgba(84, 144, 245, 0.4);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.blue-btn {
    background: rgb(84, 144, 245);

}

.blue-btn:hover {
    background: rgb(60, 110, 200);
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}


.green-box {
    background: rgb(198, 228, 214);
}

.green-box:hover {
    background: rgb(173, 204, 184);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.light-green-btn {
    background: rgb(9, 161, 92);
}

.light-green-btn:hover {
    background: rgb(7, 130, 75);
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.yellow-box {
    background: rgb(247, 235, 207);
}

.yellow-box:hover {
    background: rgb(247, 235, 190);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.yellow-btn {
    background: rgb(255, 194, 57);
}

.yellow-btn:hover {
    background: rgb(220, 170, 45);
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.quote {
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 23px;
}